body {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  width: auto;
}

body,
html {
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  width: 100%;
}

.grid {
  @extend .container;
  @include make-row();
  margin: auto;
  margin-top: 10vh;
  max-width: 450px;

  .cell {
    @include make-xs-column(4);
    min-height: 140px;
  }
}
