body {
  box-sizing: border-box;
  padding-bottom: 70px;
}

img {
  height: 129px;
  max-width: 100%;
  overflow: hidden;
  width: auto;
}

.navbar {
  margin: 0;
  width: 100%;
  margin-bottom: 5vh;
}

.grid {
  @extend .container;
  @include make-row();
  margin: auto;
  margin-top: 10vh;
  max-width: 450px;

  .cell {
    @include make-xs-column(4);
    height: 132px;
    padding: 0;
  }
}
