body {
  text-align: center;
  margin: 0;
  padding: 0 !important;
}

.navbar-static-top {
  background-color: $darker-white;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.navbar-custom {
  text-align: right;
  li a {
    color: $carbon-black;
  }
  li a:hover {
    background-color: $carbon-black;
    color: $alien-green;
  }
}

.cell {
  border: 1px solid $carbon-black;
}
